@define-color transparent rgba(0.0, 0.0, 0.0, 0.0);
@define-color white #FFFFFF;
@define-color black #000000;

@define-color nord0 #2e3440;
@define-color nord1 #3b4252;
@define-color nord2 #434c5e;
@define-color nord3 #4c566a;
@define-color nord4 #d8dee9;
@define-color nord5 #e5e9f0;
@define-color nord6 #eceff4;
@define-color nord7 #8fbcbb;
@define-color nord8 #88c0d0;
@define-color nord9 #81a1c1;
@define-color nord10 #5e81ac;
@define-color nord11 #bf616a;
@define-color nord12 #d08770;
@define-color nord13 #ebcb8b;
@define-color nord14 #a3be8c;
@define-color nord15 #b48ead;

@define-color active-window-color @nord9;
@define-color urgent-window-color @nord7;
@define-color font-color @nord6;
@define-color menu-background-color @nord1;
@define-color menu-font-color @nord6;

/* Top level styling */

.taffy-window * {
	/*
		This removes any existing styling from UI elements. Taffybar will not
		cohere with your gtk theme.
	*/
	all: unset;

        font-family: "Roboto", sans-serif;
	font-size: 12pt;
        font-weight: 400;
	color: @font-color;
}

.taffy-box {
	/* border-radius: 10px; */
	/* background-color: rgba(0.0, 0.0, 0.0, 0.3); */
	background-color: @nord0
}

.inner-pad {
	/* padding-bottom: 1px; */
	/* padding-top: 1px; */
	/* padding-left: 2px; */
	/* padding-right: 2px; */
}

.contents {
	padding-bottom: 4px;
	padding-top: 5px;
	padding-right: 5px;
	padding-left: 2px;
	transition: background-color .3s;
	/* border-radius: 5px; */
}

/* Workspaces styling */

.workspace-label {
	padding-right: 5px;
	padding-left: 5px;
	font-size: 12pt;
}

.active .contents {
	background-color: rgba(0.0, 0.0, 0.0, 0.4);
}

.visible .contents {
	background-color: rgba(0.0, 0.0, 0.0, 0.1);
}

/* This gives space for the box-shadow (they look like underlines) that follow.
   This will actually affect all widgets, (not just the workspace icons), but
   that is what we want since we want the icons to look the same. */
.auto-size-image, .sni-tray {
	padding-top: 3px;
	padding-bottom: 3px;
}

/* Space out SNI icons */
.tray-icon-image {
    padding-right: 10px;
    padding-left: 10px;
}

.window-icon-container {
	transition: opacity .3s, box-shadow .3s, background-color .3s;
	opacity: 1;
}

.window-icon-container.active {
        background-color: @nord3;
	box-shadow: inset 0 2px @nord10;
}

.window-icon-container.urgent {
        background-color: @nord3;
	box-shadow: inset 0 2px @urgent-window-color;
}

.window-icon-container.inactive .window-icon {
	padding: 0px;
}

.window-icon-container.minimized .window-icon {
	opacity: .3;
}

.window-icon {
        padding-left: 4px;
        padding-right: 4px;
	opacity: 1;
	transition: opacity .4s;
}

/* Button styling */

button {
	background-color: @transparent;
	border-width: 0px;
	border-radius: 0px;
}

button:checked, button:hover .Contents:hover {
	box-shadow: inset 0 -3px @nord10;
}

/* Menu styling */

/* The ".taffy-window" prefixed selectors are needed because if they aren't present,
   the top level .Taffybar selector takes precedence */
.taffy-window menuitem *,  menuitem * {
	color: @menu-font-color;
}

.taffy-window menuitem, menuitem {
	background-color: @menu-background-color;
}

.taffy-window menuitem:hover, menuitem:hover {
	background-color: @nord9;
}

.taffy-window menuitem:hover > label, menuitem:hover > label {
	color: @nord6;
}
